Repository AlexRogalskiy/stylegrams: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on VERSION
  version.txt
Due: none

docs: updates on workflows
  .github/workflows/build.yml
  .github/workflows/codespell.yaml
  .github/workflows/release-semantic.yml
  .npmrc
  README.md
  dist/stylegrams.cjs.development.js
  dist/stylegrams.cjs.development.js.map
  dist/stylegrams.cjs.production.min.js
  dist/stylegrams.esm.js
  dist/stylegrams.esm.js.map
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on workflows
  .bettercodehub.yml
  .codecov.yml
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/codespell.yaml
  .github/workflows/lint/.commitlintrc.json
  .github/workflows/release-changelog.yml
  .github/workflows/release-drafter.yml
  .gitpod.Dockerfile
  .gitpod.yml
  .mega-linter.yml
  README.md
  docker/Dockerfile
Due: prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on workflows
  .github/workflows/toc.yml
Due: prettier --write

docs: updates on workflows
  .dockerfilelintrc
  .github/workflows/codespell.yaml
  .mega-linter.yml
  tsconfig.json
Due: prettier --write

docs: updates on workflows
  .mega-linter.yml
  README.md
Due: prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on workflows
  package.json
  src/cache.ts
  src/getDirectory.ts
  src/loaders.ts
  src/readFile.ts
Due: eslint --fix, prettier --write

docs: updates on workflows
  .gitignore
  dist/animations.d.ts
  dist/animations.d.ts.map
  dist/changelog.config.d.ts
  dist/changelog.config.d.ts.map
  dist/comparators.d.ts
  dist/comparators.d.ts.map
  dist/errors.d.ts
  dist/errors.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/jest.config.d.ts
  dist/jest.config.d.ts.map
  dist/layouts.d.ts
  dist/layouts.d.ts.map
  dist/stylegrams.cjs.development.js
  dist/stylegrams.cjs.development.js.map
  dist/stylegrams.cjs.production.min.js
  dist/stylegrams.cjs.production.min.js.map
  dist/stylegrams.esm.js
  dist/stylegrams.esm.js.map
  dist/template.d.ts
  dist/template.d.ts.map
  dist/themes.d.ts
  dist/themes.d.ts.map
  dist/typings/types.d.ts
  dist/typings/types.d.ts.map
  dist/utils.d.ts
  dist/utils.d.ts.map
  dist/validators.d.ts
  dist/validators.d.ts.map
  dist/wallaby.d.ts
  dist/wallaby.d.ts.map
Due: eslint --fix, prettier --write

docs: updates on workflows
  .mega-linter.yml
Due: prettier --write

docs: updates on workflows
  src/getDirectory.ts
  src/loaders.ts
  src/readFile.ts
  src/serialize.ts
  src/utils.ts
Due: eslint --fix, prettier --write

docs: updates on workflows
  package.json
Due: prettier --write

docs: updates on workflows
  .prettierrc.yaml
  package.json
Due: prettier --write

docs: updates on workflows
  .gitpod.Dockerfile
  .mega-linter.yml
Due: prettier --write

docs: updates on workflows
  .prettierignore
Due: none

docs: updates on workflows
  .gitignore
  docs/assets/css/main.css
  docs/assets/images/icons.png
  docs/assets/images/icons@2x.png
  docs/assets/images/widgets.png
  docs/assets/images/widgets@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/index.html
  docs/modules.html
  docs/modules/global.html
  docs/modules/types.html
  package.json
  typedoc.json
Due: eslint --fix, prettier --write

docs: updates on workflows
  src/utils.ts
  src/validators.ts
Due: eslint --fix, prettier --write

docs: updates on workflows
  README.md
  package.json
Due: prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on workflows
  .codecov.yml
  .github/workflows/build.yml
  .husky/pre-commit
  CHANGELOG.md
  README.md
  docker/gitpod.Dockerfile
  package.json
  renovate.json
  tsfmt.json
  typedoc.json
Due: prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

docs: updates on workflows
  .deepsource.toml
  .editorconfig
  .github/scripts/close-pending.sh
  .github/scripts/comment-commands/close.sh
  .github/scripts/comment-commands/debug.sh
  .github/scripts/comment-commands/help.sh
  .github/scripts/comment-commands/label.sh
  .github/scripts/comment-commands/pending.sh
  .github/scripts/comment-commands/ready.sh
  .github/scripts/comment-commands/retest.sh
  .github/scripts/process-comment.sh
  .github/workflows/close-pending.yml
  .github/workflows/pr-helper.yml
  CHANGELOG.md
  README.md
Due: prettier --write, remark-preset-davidtheclark, remark-preset-davidtheclark --format

:arrow_up: Updates typedoc to v1
  package.json
Due: prettier --write

:arrow_up: Updates yaml to v2
  package.json
Due: prettier --write

:arrow_up: Updates jest monorepo to v27
  package.json
Due: prettier --write

:arrow_up: Updates ts-jest to v27
  package.json
Due: prettier --write

:arrow_up: Updates folio to v0.4.0-alpha9
  package.json
Due: prettier --write

:arrow_up: Updates typescript to v4.4.0-dev.20210514
  package.json
Due: prettier --write

:arrow_up: Pin dependencies
  package.json
Due: prettier --write

[nodoc] Update Changelog\n\nAdded CHANGELOG file
  CHANGELOG.md
Due: remark-preset-davidtheclark, remark-preset-davidtheclark --format

:arrow_up: Updates Actions-R-Us/actions-tagger action to v2.0.2
  .github/workflows/versioning.yml
Due: prettier --write

:arrow_up: Updates release-drafter/release-drafter action to v5.15.0
  .github/workflows/release-drafter.yml
Due: prettier --write

:arrow_up: Updates actions/cache action to v2
  .github/workflows/release-semantic.yml
Due: prettier --write

:arrow_up: Updates actions/checkout action to v2
  .github/workflows/codeowners-merge.yml
  .github/workflows/shiftleft-analysis.yml
Due: prettier --write

:arrow_up: Updates actions/github-script action to v4
  .github/workflows/claim.yml
  .github/workflows/comment_on_issue.yml
  .github/workflows/welcome_contributor.yml
Due: prettier --write

:arrow_up: Updates editorconfig-checker to v4
  package.json
Due: prettier --write

:arrow_up: Updates eslint-config-prettier to v8
  package.json
Due: prettier --write

:arrow_up: Updates eslint-plugin-jest to v24
  package.json
Due: prettier --write

:arrow_up: Updates husky to v6
  package.json
Due: prettier --write

:arrow_up: Updates path-type to v5
  package.json
Due: prettier --write

:arrow_up: Updates pnpm/action-setup action to v2
  .github/workflows/build.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,yml,yaml})
  remark-preset-davidtheclark: any of: *.md
  remark-preset-davidtheclark --format: any of: *.md
